# SPDX-License-Identifier: AGPL-3.0-or-later
# Backend environment variables — copy to .env

NODE_ENV=development
PORT=3001

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/webappdb"

# Redis
REDIS_URL="redis://localhost:6379"

# JWT
JWT_SECRET="change-me-in-production-minimum-32-chars"
JWT_EXPIRES_IN="7d"

# Throttle
THROTTLE_TTL=60000
THROTTLE_LIMIT=100
